{include file="pageheader.html"}

<body class="gray-bg">
<div class="ibox-content border-bottom">
    <form role="form" class="form-inline" id="subbox">
        <div class="form-group">
            游戏：
            <select class="form-control" name="lottery" id="lottery">
                <option value="0">所有游戏</option>
                {foreach from=$lottery item=l key=k}
                {if $lotteryid == $k}
                <option value="{$k}" selected>{$l}</option>
                {else}
                <option value="{$k}">{$l}</option>
                {/if}
                {/foreach}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2" class="sr-only">开始时间</label>
            开始时间:<input name="sTime" class="form-control layer-date" value="{$sTime}" placeholder="YYYY-MM-DD H:i:s" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2" class="sr-only">结束时间</label>
            结束时间:<input name="eTime" class="form-control layer-date" value="{$eTime}" placeholder="YYYY-MM-DD H:i:s" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
        </div>
        <button class = "btn btn-primary" type = "submit">查询</button>
    </form>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div>
                    <div class="jqGrid_wrapper bgcol-white">
                        <table id="table_list_2"></table><!--初始化表格必须-->
                        <div id="pager_list_2"></div><!--分页展示必须-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $.jgrid.defaults.styleUI="Bootstrap";
        $("#table_list_2").jqGrid({
            //表格头
            colNames:["游戏","奖期" ,"开奖号码","截止投注时间","开奖时间"],
            //表格内容
            colModel:[
                {name:"cnname",index:"cnname",align:"center",sorttype:"string",sortable: false},
                {name:"issue",index:"issue",align:"center",sorttype:"int",sortable: false},
                {name:"code",index:"code",align:"center",sorttype:"int",sortable: false},
                {name:"saleend",index:"saleend",align:"center",sorttype:"date",sortable: false},
                {name:"verifytime",index:"verifytime",align:"center",sorttype:"date",sortable: false}
            ],
            //data:mydata,
            height:"auto", //默认高度
            mtype: "post", //提交方式
            datatype: "json",   //数据类型
            page: 1,            //当前页码
            autowidth:true,    //表格自适应宽度
            shrinkToFit:true,   //自适应列宽
            rowNum:50,       //每页展示的记录数
            rowList:[50,100,200,500], //每页展示的记录数
            sortable:true,//开启排序
//            sortorder:"asc",
            pager:"#pager_list_2",viewrecords:true,
            beforeRequest: function () {
                var postData = {};
                $.each($("#subbox").serializeArray(), function(i, n){
                    postData[n.name] = n.value;
                });
                $("#table_list_2").jqGrid("setGridParam", {
                    postData: postData
                });
            }

        });
        $("#table_list_2").setSelection(4,true);
        //窗口自适应
        $(window).bind("resize",function(){
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_1").setGridWidth(width);
            $("#table_list_2").setGridWidth(width);
        });
        //表单提交
        $("#subbox").submit(function(){
            $("#table_list_2").jqGrid("setGridParam", {page: 1}).trigger('reloadGrid');
            return false;
        });


    });

</script>
</body>


</html>
