{include file="pageheader.html"}

<link rel="stylesheet" href="plugins/kindeditor/themes/default/default.css"/>
<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css" rel="stylesheet">
<link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">
<script type="text/javascript" src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script charset="utf-8" src="plugins/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="plugins/kindeditor/lang/zh_CN.js"></script>
<body class="gray-bg">
<div class="ibox-content border-bottom">
    <form role="form" class="form-inline" id="subbox" method="post">
        <div class="form-group">
            <label for="" class="sr-only">资讯状态</label>
            资讯状态：

            <select class="form-control" name="iStatus">
                <option value="-1">全部</option>
                <option value="0" {if isset($smarty.get.iStatus) && $smarty.get.iStatus=="0"}selected{/if}>正常</option>
                <option value="1" {if isset($smarty.get.iStatus) && $smarty.get.iStatus=="1"}selected{/if}>隐藏</option>
            </select>
        </div>

        <div class="form-group mgl15">
            <label for="" class="sr-only">资讯类型</label>
            资讯类型：
            <select class="form-control" name="iType">
                <option value="-1">全部</option>
                <option value="0" {if isset($smarty.get.iType) && $smarty.get.iType=="0"}selected{/if}>新闻</option>
                <option value="1" {if isset($smarty.get.iType) && $smarty.get.iType=="1"}selected{/if}>技巧</option>
            </select>
        </div>
        <button class="btn  btn-primary" type="submit" style="margin-left: 15px;">开始查询</button>
        <a onclick="addlayer()" class="btn  btn-primary" style="margin-left: 15px">添加资讯</a>
    </form>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">


    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div>
                    <div class="jqGrid_wrapper bgcol-white">
                        <table id="table_list"></table><!--初始化表格必须-->
                        <div id="page_list"></div><!--分页展示必须-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox-content" id="box_add" style="display:none">
    <form method="post" class="form-horizontal" action="information_add.shtml" id="box_add_form">
        <div class="form-group">
            <label class="col-sm-1 control-label">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">排序</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="sort">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">状态</label>

            <div class="col-sm-10">
                <select class="form-control m-b" name="status">
                    <option value="0">正常</option>
                    <option value="1">隐藏</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">分类</label>
            <div class="col-sm-10">
                <label class="checkbox-inline">
                    <input type="radio" value="0" name="type" checked>新闻
                </label>
                <label class="checkbox-inline">
                    <input type="radio" value="1" name="type">技巧
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">内容</label>
            <div class="col-sm-10">
                <textarea name="content" style="width:100%;height:400px;display: none"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <input type="hidden" name="informationid">
                <button class="btn btn-primary" type="submit">保存内容</button>
                <button class="btn btn-white" type="button" onclick="closeAll()">取消</button>
            </div>
        </div>
    </form>
</div>

<script>
    // 删除资讯
    function dele(informationid) {
        layer.confirm('确定删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: 'information_delete.shtml',
                data: {
                    change_sticky: 'yes',
                    'informationid': informationid
                },
                success: function (data) {
                    if (data.result !== undefined) {
                        layer.alert(data.msg, function (index) {
                            location.reload();
                        });
                    } else {
                        layer.alert('没有修改权限！');
                    }
                },
                dataType: 'json'
            });
        });
    }

    // 修改置顶状态
    function changeSticky(informationid) {
        layer.confirm('确定要修改置顶状态吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: 'information_edit.shtml',
                data: {
                    change_sticky: 'yes',
                    'informationid': informationid
                },
                success: function (data) {
                    if (data.result !== undefined) {
                        layer.alert(data.msg, function (index) {
                            location.reload();
                        });
                    } else {
                        layer.alert('没有修改权限！');
                    }
                },
                dataType: 'json'
            });
        });
    }

    // 添加层级
    function addlayer() {
        $('#box_add_form').attr('action', 'information_add.shtml');
        layer.open({
            scrollbar: true,
            zIndex: 100,
            type: 1,
            title: '添加资讯',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['900px','750px'],
            content: $('#box_add'),
            cancel: function (index, layero) {
                closeAll();
                return false;
            }
        });
        editorStart();
    }

    // 编辑弹窗
    function edit(id) {
        $.ajax({
            dataType: 'json',
            type: 'GET',
            url: 'information_edit.shtml?id=' + id,
            success: function (obj) {
                if (obj.error !== undefined && obj.error == 0) {
                    $('#box_add').find("input[name='title']").val(obj.data.title);
                    $('#box_add').find("input[name='sort']").val(obj.data.sort);
                    $('#box_add').find("select[name='status']").val(obj.data.status);
                    $('#box_add').find("input[name='type']").removeAttr('checked');
                    $('#box_add').find("input[name='type'][value='" + obj.data.type + "']").prop('checked', true);
                    $('#box_add').find("input[name='informationid']").val(obj.data.informationid);
                    $('#box_add').find("textarea[name='content']").val(obj.data.content);
                    $('#box_add_form').attr('action', 'information_edit.shtml');
                    layer.open({
                        zIndex: 100,
                        type: 1,
                        title: '修改资讯',
                        shadeClose: true,
                        shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['900px','750px'],
                        content: $('#box_add'),
                        cancel: function (index, layero) {
                            reSet();
                        }
                    });
                    editorStart();
                } else {
                    layer.alert('没有修改权限！');
                }
            }
        });
    }

    // 关闭layer弹窗
    function closeAll() {
        layer.confirm('所有未保存的数据都将消失，确定要关闭吗？',function(){
            reSet();
            layer.closeAll();
        });
    }

    // 重置
    function reSet() {
        document.getElementById("box_add_form").reset();
        $('#box_add').find("input[name='type'][value='0']").prop('checked', true);
        $('#box_add_form').validate('hideError');
        editorReset();
    }

    // 编辑器开始
    function editorStart() {
        $.editor = KindEditor.create('textarea[name="content"]', {
            uploadJson : 'default_kindeditoruploadimage.shtml',
            fileManagerJson : 'default_kindeditorimagemanager.shtml',
            allowImageUpload: true,
            allowFileUpload: false
        });
    }

    // 编辑器关闭
    function editorReset() {
        $.editor.html('');
        $.editor.remove('textarea[name="content"]');
    }

    $(document).ready(function () {
        // 表单校验
        $('#box_add_form').validate({
            rules : {
                'title' : {
                    required : true
                },
                'type' : {
                    required : true
                }
            },
            messages: {
                'title' : ['请填写标题'],
                'type' : ['请选择类型']
            }
        });
        // 自定义操作表格
        function operate(cellValue, options, rowObject) {
            var json = JSON.stringify(rowObject);
            var html = "";
            html += "<a title='修改'  class='mgr15' onclick='edit(" + rowObject.informationid + ")'>";
            html += "<span>修改</span></a>&nbsp;";
            html += "<a title='删除' class='mgr15' onclick='dele(" + rowObject.informationid + ")' >";
            html += "<span>删除</span></a>&nbsp;";
            if (1 == rowObject.is_sticky) {
                html += "<a title='解除置顶' onclick='changeSticky(" + rowObject.informationid + ")' >";
                html += "<span style='color:#FF3333'>解除置顶</span></a>&nbsp;";
            } else {
                html += "<a title='置顶' onclick='changeSticky(" + rowObject.informationid + ")' >";
                html += "<span>置顶</span></a>&nbsp;";
            }

            return html;
        }

        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#table_list").jqGrid({
            //表格头
            colNames: ['ID', '排序值', '资讯类型', '资讯标题', '最后更新时间', '管理员', '状态', '操作'],
            //表格内容
            colModel: [
                {name: "informationid", index: "informationid", editable: false, sortable: false},
                {name: "sort", index: "sort", editable: false, sortable: false},
                {name: "type_msg", index: "type_msg", editable: false, sortable: false},
                {name: "title", index: "title", editable: false, sortable: false},
                {name: "lasttime", index: "lasttime", editable: true, sortable: false},
                {name: "lastuser", index: "lastuser", editable: true, sortable: false},
                {name: "status_msg", index: "status_msg", editable: true, sortable: false},
                {name: "operate", index: "operate", align: 'left', formatter: operate}/*格式化本列为超链接*/
            ],
            mtype: "post",
            datatype: 'json',
            height: 450, //默认高度
            page: 1,            //当前页码
            autowidth: true,    //表格自适应宽度
            shrinkToFit: true,   //自适应列宽
            rowNum: 10,       //每页展示的记录数
            rowList: [10, 50, 100, 150, 200, 500], //每页展示的记录数
            pager: "#page_list",
            viewrecords: true,
            beforeRequest: function() {
                var postData = {};
                $.each($("#subbox").serializeArray(), function (i, n) {
                    postData[n.name] = n.value;
                });
                $(this).jqGrid("setGridParam", {
                    postData: postData
                });
            }
        });
        //窗口自适应
        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list").setGridWidth(width);
        });
        //表单提交
        $("#subbox").submit(function () {
            $("#table_list").jqGrid("setGridParam", {datatype:'json',page:1}).trigger('reloadGrid');
            return false;
        });
    });
</script>
</body>
</html>
