{include file="pageheader.html"}
<body class="gray-bg">
<div class="ibox-content">
    <form role="form" class="form-inline" id="subbox">
        <a href="user_adduser.shtml" class="btn btn-sm btn-primary pull-right" style="margin-right: 60px" >新增公告</a>
        <a href="user_adduser.shtml" class="btn btn-sm btn-primary pull-right" style="margin-right: 60px" >批量删除</a>
        <button class="btn btn-sm btn-primary pull-right " style="margin-right: 30px" type="submit">点击查询</button>
    </form>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="table_list_2"></table><!--初始化表格必须-->
                        <div id="pager_list_2"></div><!--分页展示必须-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $.jgrid.defaults.styleUI="Bootstrap";
        $("#table_list_2").jqGrid({
            //表格头
            colNames:["ID","游戏名称","内容","编辑人","编辑日期","操作"],
            //表格内容
            colModel:[
                {name:"username",index:"username",editable:true,sorttype:"int",search:true},
                {name:"groupname",index:"groupname",editable:true},
                {name:"name",index:"name",editable:true},
                {name:"maxpoint",index:"maxpoint",editable:true},
                {name:"availablebalance",index:"availablebalance",align:"right", editable:true,sorttype:"float",formatter:"number"},
                {name:"channelbalance",index:"channelbalance",align:"right",editable:true,sorttype:"float"}
            ],
            //data:mydata,
            height:450, //默认高度
            mtype: "get", //提交方式
            datatype: "json",   //数据类型
            page: 1,            //当前页码
            autowidth:true,    //表格自适应宽度
            shrinkToFit:true,   //自适应列宽
            rowNum:5,       //每页展示的记录数
            rowList:[10,20,30], //每页展示的记录数
            pager:"#pager_list_2",viewrecords:true,
        });
        $("#table_list_2").setSelection(4,true);
        //尾部导航栏
        $("#table_list_2").jqGrid("navGrid","#pager_list_2",{edit:true,add:true,del:true,search:true},{height:200,reloadAfterSubmit:true});
        //窗口自适应
        $(window).bind("resize",function(){
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_1").setGridWidth(width);
            $("#table_list_2").setGridWidth(width);
        });
        //表单提交
        $("#subbox").submit(function(){
            var postData = {};
            $.each($(this).serializeArray(), function(i, n){
                postData[n.name] = n.value;
            });
            $("#table_list_2").jqGrid("setGridParam", {
                page: 1,
                mtype: "post",
                datatype: 'json',
                postData: postData
            }).trigger('reloadGrid');

            return false;
        });


        // 搜索用户名下拉框
        $(":input[id=select_1]").change(function(){
            var id = 1; //$(this).attr('id');
            $("#value_" + id).attr('name', $(this).val());
        });
        // 搜索金额下拉框
        $(":input[id=select_2]").change(function(){

            $("#value_2" ).attr('name', 'min'+$(this).val());
            $("#value_3" ).attr('name', 'max'+$(this).val());
        });

    });
    //自定义操作表格
    function showlink(cellValue, options, rowObject) {
        //console.info([cellValue, options, rowObject]);
        var html ="";
        html += "<a class=''  onclick='useredit("+rowObject.userid+");'>";
        html += "<span style='color:#1ab394'>修改</span></a>&nbsp;&nbsp;";
        html += "<a href='http://www.lexcusa.com/user_info.shtml?userid="+rowObject.userid+"' class=' ' >";
        html += "<span style='color:#1ab394'>奖金组</span></a>&nbsp;&nbsp;";
        if(rowObject.isfrozen !=0){
            html += "<a class=' ' onclick='unfreeze("+rowObject.userid+");' >";
            html += "<span style='color:#FF5151'>解冻</span></a>&nbsp;&nbsp;";
        }else{
            html += "<a class=''  onclick='freeze("+rowObject.userid+");' >";
            html += "<span style='color:#1ab394'>冻结</span></a>&nbsp;&nbsp;";
        }

        html += "<a class='' onclick='adjustpoint("+rowObject.userid+")'; >";
        html += "<span style='color:#1E9FFF'>调点</span></a>&nbsp;&nbsp;";
        html += "<a class='' href='user_bettinglist.shtml?userid="+rowObject.userid+"'>";
        html += "<span style='color:#1ab394'>下注记录</span></a>&nbsp;&nbsp;";
        if(rowObject.lockcard == 0){
            html += "<a class='' >";
            html += "<span style='color:#1ab394' onclick='lockcard("+rowObject.userid+",1);' >锁卡</span></a>&nbsp;&nbsp;";
        }else{
            html += "<a class='' >";
            html += "<span style='color:#FF5151' onclick='unlockcard("+rowObject.userid+",0);' >解锁</span></a>&nbsp;&nbsp;";
        }

        html += "<a class='' >";
        html += "<span style='color:#1ab394'>配额设置</span></a>&nbsp;&nbsp;";
        return html;
    }

    function storeShowJspData(id){//显示弹出框方法
        $("#addmaterialNextForm #ids").val(id);
        alert(id);
        //$("#addmaterialNext").alert("open");
    }
    //冻结用户
    function freeze(userid){
        //iframe窗
        layer.open({
            type: 2,
            title: '冻结用户',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['800px', '500px'],
            content: ['user_freeze.shtml?userid='+userid, 'no'],
        });
    }
    //冻结用户
    function unfreeze(userid){
        //iframe窗
        layer.open({
            type: 2,
            title: '冻结用户',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['800px', '500px'],
            content: ['user_unfreeze.shtml?userid='+userid, 'no'],
        });
    }
    //锁定银行卡
    function lockcard(userid,status) {
        $.ajax({
            url:"user_lockcard.shtml",
            type: "POST",
            data:{'userid':userid,'status':status},
            success: function(data){
                var data = eval("("+data+")");
                if(data.code == 0){
                    layer.alert(data.msg);
                }else{
                    layer.alert(data.msg,function(){
                        layer.closeAll()
                    });

                }
            }
        });
    }
    //解锁用户银行卡页面
    function unlockcard(userid,status){
        //iframe窗
        layer.open({
            type: 2,
            title: '解锁银行卡信息',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['1000px', '500px'],
            content: ['user_unlockcard.shtml?userid='+userid+'&status='+status, 'no'],
        });
    }
    //用户调点
    function adjustpoint(userid,status){
        //iframe窗
        layer.open({
            type: 2,
            title: '调点',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['800px', '500px'],
            content: ['user_adjustpoint.shtml?userid='+userid, 'no'],
        });
    }
    //编辑用户
    function useredit(userid){
        //iframe窗
        layer.open({
            type: 2,
            title: '',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['800px', '600px'],
            content: ['user_useredit.shtml?userid='+userid, 'no'],
        });
    }

</script>
</body>
</html>
