{include file="pageheader.html"}
<body class="gray-bg">
<div class="ibox-content zom border-bottom">
    <form role="form" class="form-inline" id="subbox">
        <!--<div class="form-group">-->
            <!--<label class="">发送用户名：</label>-->
            <!--<input type="text" placeholder="请输入管理员名" name="adminname" class="form-control">-->
        <!--</div>-->
        <!--<div class="form-group mgl15">-->
            <!--<label for="isdel_id" class="">状态：</label>-->
            <!--<select class="form-control" name="isdel" id="isdel_id">-->
                <!--<option value="">全部</option>-->
                <!--<option value="2" selected>正常</option>-->
                <!--<option value="1">已删除</option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="form-group mgl15">
            <label for="status_id" class="">公告状态：</label>
            <select class="form-control" name="status" id="status_id">
                <option value="" selected>全部</option>
                <option value="1">启用</option>
                <option value="2">停用</option>
            </select>
        </div>
        <div class="form-group mgl15">
            <label for="value_subject" class="">标题：</label>
            <input type="text" placeholder="请输入标题" id="value_subject" name="subject" class="form-control">
        </div>
        <!--<div class="form-group mgl15">-->
            <!--<label>日期：</label>-->
            <!--<input name="sdate" class="form-control layer-date"-->
                   <!--placeholder="请选择日期..." onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label>~</label>-->
            <!--<input name="edate" class="form-control layer-date" placeholder="请选择日期..."-->
                   <!--onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">-->
        <!--</div>-->
        <button onclick="addNotice()" class="btn btn-warning pull-right ">新增公告
        </button>
        <button class="btn btn-primary pull-right mgr15 " id="searchBtn" type="submit">点击查询</button>
    </form>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div>
                    <div class="jqGrid_wrapper bgcol-white">
                        <table id="table_list_2"></table><!--初始化表格必须-->
                        <div id="pager_list_2"></div><!--分页展示必须-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var lastsel2;
        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#table_list_2").jqGrid({
            //表格头
            colNames: ["id", "排序值", "公告状态", "标题","发送版本", "编辑日期", "发布人员", "是否删除", "公告类型", "操作"],
            //表格内容
            colModel: [
                {name: "id", index: "id", hidden:true},
                {name: "sorts", index: "sorts", editable: true},
                {
                    name: "status",
                    formatter: 'select',
                    editoptions: {value: "1:启用;2:停用"}
                },
                {name: "subject"},
                {name: "version",formatter: 'select',editoptions: {value: "1:PC端;2:移动端;1,2:全部"}},
                {name: "sendtime", align: "right"},
                {name: "adminname",  align: "right"},
                {name: "isdel",  align: "right", hidden:true},
                {
                    name: "type",
                    align: "right",
                    formatter: 'select',
                    editoptions: {value: "1:文字公告;2:图片公告"}
                },
                {name: "operate", align: 'left', width: "260", formatter: showlink} /*格式化本列为超链接*/
            ],
            //data:mydata,
            height: 650, //默认高度
            mtype: "post", //提交方式
            datatype: "json",   //数据类型
            page: 1,            //当前页码
            autowidth: true,    //表格自适应宽度
            shrinkToFit: true,   //自适应列宽
            rowNum: 20,       //每页展示的记录数
            rowList: [20, 30, 50], //每页展示的记录数
            pager: "#pager_list_2",
            viewrecords: true,
            sortname: 'sorts',//默认排序
            loadtext: "正在拼命加载中",
            beforeRequest: function () {
                var postData = {};
                $.each($("#subbox").serializeArray(), function (i, n) {
                    postData[n.name] = n.value;
                });
                $(this).jqGrid("setGridParam", {
                    postData: postData
                });
            },
            onSelectRow: function(sorts){
                if(sorts && sorts!==lastsel2){
                    jQuery('#table_list_2').restoreRow(lastsel2);
                    jQuery('#table_list_2').editRow(sorts,true,null,(
                        function (response) {
//                            layer.alert(response.responseText);
                            layer.msg(response.responseText);
                            document.getElementById('searchBtn').click();
                            return true;
                        }
                    ));
                    lastsel2=sorts;
                }
            },
            editurl: "notice_editsort.shtml"
        });
        $("#table_list_2").setSelection(4, true);
        //尾部导航栏
        $("#table_list_2").jqGrid("navGrid", "#pager_list_2", {
            edit: false,
            add: false,
            del: false,
            search: false
        }, {height: 300, reloadAfterSubmit: true});
        //窗口自适应
        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_1").setGridWidth(width);
            $("#table_list_2").setGridWidth(width);
        });
        //表单提交
        $("#subbox").submit(function () {
            var postData = {};
            $.each($(this).serializeArray(), function (i, n) {
                postData[n.name] = n.value;
            });
            $("#table_list_2").jqGrid("setGridParam", {page: 1}).trigger('reloadGrid');
            return false;
        });


        // 搜索用户名下拉框
        $(":input[id=select_1]").change(function () {
            var id = 1; //$(this).attr('id');
            $("#value_" + id).attr('name', $(this).val());
        });
        // 搜索金额下拉框
        $(":input[id=select_2]").change(function () {

            $("#value_2").attr('name', 'min' + $(this).val());
            $("#value_3").attr('name', 'max' + $(this).val());
        });
    });
    //自定义操作表格
    function showlink(cellValue, options, rowObject) {
        var html = "";
        html += "<a title='修改' onclick='editNotice(" + rowObject.id + ")' >";
        html += "<span>修改</span></a>&nbsp;&nbsp;";
        html += "|&nbsp;&nbsp;";
        html += "<a title='查看' onclick='viewNitce(" + rowObject.id + "," + rowObject.type + ")' >";
        html += "<span>查看</span></a>&nbsp;&nbsp;";
        if (rowObject.status == 1) {
            html += "|&nbsp;&nbsp;<a title='停用' onclick='doStop(" + rowObject.id + ")' >";
            html += "<span style='color:#ff2a2a'>停用</span></a>&nbsp;&nbsp;";
        }
        if (rowObject.status == 2) {
            if (0 == rowObject.isdel) {
                html += "|&nbsp;&nbsp;<a title='启用' onclick='doStart(" + rowObject.id + ")' >";
                html += "<span style='color:#1ab394'>启用</span>&nbsp;&nbsp;";
            }
        }
        html += "|&nbsp;&nbsp;";
        html += "<a title='删除' onclick='doDel(" + rowObject.id + ")' >";
        html += "<i class='fa fa-remove'>删除</i></a>&nbsp;&nbsp;|&nbsp;&nbsp;";
        if (1 == rowObject.istop) {
            html += "<a title='解除置顶' onclick='changeSticky(" + rowObject.id + ")' >&nbsp;";
            html += "<span style='color:#FF3333'>解除置顶</span></a>&nbsp;";
        } else {
            html += "<a title='置顶' onclick='changeSticky(" + rowObject.id + ")' >&nbsp;";
            html += "<span>置顶</span></a>&nbsp;";
        }
        return html;
    }

    // 修改置顶状态
    function changeSticky(id) {
        layer.confirm('确定修改置顶状态么？', function (index) {
            $.ajax({
                type: 'POST',
                url: 'notice_edit.shtml',
                data: {
                    change_sticky: 'yes',
                    'id': id
                },
                success: function (data) {
                    if (data.result !== undefined) {
                        layer.alert(data.msg, function (index) {
                            location.reload();
                        });
                    } else {
                        layer.alert('没有修改权限！');
                    }
                },
                dataType: 'json'
            });
        });
    }


    /*新增公告*/
    function addNotice() { //获取id
        layer.open({
            type: 2,
            title: false,
            shadeClose: false,
            closeBtn: 2,
            maxmin: true, //开启最大化最小化按钮
            area: ['900px', '750px'],
            content: 'notice_add.shtml'
        });
    }

    /*查看公告*/
    function viewNitce(id, type) {
        layer.open({
            type: 2,
            title: false,
            shadeClose: false,
            closeBtn: 2,
            maxmin: true, //开启最大化最小化按钮
            area: ['900px', '550px'],
            content: 'notice_view.shtml?id=' + id + '&type=' + type
        });
        return false;
    }

    /*编辑公告*/
    function editNotice(id) { //获取id
        layer.open({
            type: 2,
            title: false,
            shadeClose: false,
            closeBtn: 2,
            maxmin: true, //开启最大化最小化按钮
            area: ['900px', '750px'],
            content: 'notice_edit.shtml?id=' + id
        });
    }

    /*停用公告*/
    function doStop(id) {
        layer.confirm('是否确认禁用公告？', {
                btn: ['确认', '取消'],
            }, function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: 'notice_isused.shtml',
                    data: {
                        id: id,
                        status: 2
                    },
                    success: function (data) {
                        if (data.code === 1) {
                            layer.alert(data.msg, function (index) {
                                location.reload();
                            });
                        } else {
                            layer.alert('没有修改权限！');
                        }
                    }
                });
            }
        );
    }

    /*启用公告*/
    function doStart(id) {
        layer.confirm('是否确认禁用公告？', {
            btn: ['确认', '取消']
        });
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: 'notice_isused.shtml',
            data: {
                id: id,
                status: 1
            },
            success: function (data) {
                if (data.code === 1) {
                    layer.alert(data.msg, function (index) {
                        location.reload();
                    });
                } else {
                    layer.alert('没有修改权限！');
                }
            }
        });
    }

    /*删除公告*/
    function doDel(id) {
        layer.confirm('是否删除公告？', {
            btn: ['确认', '取消']
        }, function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: 'notice_del.shtml',
                data: {
                    id: id
                },
                success: function (data) {
                    if (data.code === 1) {
                        layer.alert(data.msg, function (index) {
                            location.reload();
                        });
                    } else {
                        layer.alert('没有修改权限！');
                    }
                }
            });
        });
        return false;
    }
</script>
</body>
</html>
