{include file="pageheader.html"}
<style>
    * {
        padding: 0;
        margin: 0;
    }
    .page-box {
        width: 900px;
        margin: auto;
        margin-top: 50px;
        height: auto;
        border: 1px solid #B3B3B3;
        border-bottom: 0px solid #B3B3B3;
    }
    .top-bar-one {
        height: 35px;
        width: 900px;
        border-bottom: 1px solid #B3B3B3;
    }
    .top-bar-one>div {
        display: inline-block;
        height: inherit;
        width: 345px;
        text-align: center;
        line-height: 35px;
        font-size: 12px;
    }
    .right-border {
        border-right: 1px solid #B3B3B3;
    }

    .top-bar-two {
        width: inherit;
        height: 50px;
        border-bottom: 1px solid #B3B3B3;

    }
    .top-bar-two>.top-bar-two-item {
        display: inline-block;
        height: inherit;
        width: 132px;
        font-size: 12px;
        text-align: center;
        line-height: 50px;
        float: left;
        border-bottom: 1px solid #B3B3B3;
        border-right: 1px solid #B3B3B3;
    }
    .red-bg {
        background-color: #EBA09D;

    }
    .top-bar-two-item-1 {
        width: 140px !important;
         border-left: 1px solid #B3B3B3;
    }
    .top-bar-two-item-2 {
        width: 146px !important;

    }
    .top-bar-two-item-3 {
        width: 117px !important;
    }
    .no-right-border {
        border-left: 0 !important;
        width: 146px !important;
    }
    .no-float {
        width: 0;
        height: 0;
        clear: both;
    }
</style>
<body>
<div class="page-box">
    <div class="top-bar-one">
        <div class="top-bar-one-item right-border">
            游戏名称
        </div>
        <div class="top-bar-one-item">
            {$aLottery.cnname}
        </div>
    </div>
    <div class="top-bar-one">
        <div class="top-bar-one-item right-border">
            开奖周期
        </div>
        <div class="top-bar-one-item">
            <label>{if isset($aLottery)&&($aLottery.weekcycle&1)>0}&nbsp;星期一{/if}</label>&nbsp;
            <label>{if isset($aLottery)&&($aLottery.weekcycle&2)>0}&nbsp;星期二{/if}</label>&nbsp;
            <label>{if isset($aLottery)&&($aLottery.weekcycle&4)>0}&nbsp;星期三{/if}</label>&nbsp;
            <label>{if isset($aLottery)&&($aLottery.weekcycle&8)>0}&nbsp;星期四{/if}</label>&nbsp;
            <label>{if isset($aLottery)&&($aLottery.weekcycle&16)>0}&nbsp;星期五{/if}</label>&nbsp;
            <label>{if isset($aLottery)&&($aLottery.weekcycle&32)>0}&nbsp;星期六{/if}</label>&nbsp;
            <label>{if isset($aLottery)&&($aLottery.weekcycle&64)>0}&nbsp;星期日{/if}</label>
        </div>
    </div>

    <div class="top-bar-two  red-bg">
        <div class="top-bar-two-item top-bar-two-item-1">游戏</div>
        <div class="top-bar-two-item top-bar-two-item-3">销售开始时间</div>
        <div class="top-bar-two-item top-bar-two-item-3">第一期截止时间</div>
        <div class="top-bar-two-item top-bar-two-item-3">销售截止时间</div>
        <div class="top-bar-two-item top-bar-two-item-3">开奖周期(秒)</div>
        <div class="top-bar-two-item top-bar-two-item-2">允许录入号码时间(秒)</div>
        <div class="top-bar-two-item top-bar-two-item-1 no-right-border">状态</div>
        <div class="no-float"></div>
    </div>

    <div class="top-bar-two">
        {foreach from=$aLottery.issueset item=issueset key=k}
        <div class="top-bar-two-item top-bar-two-item-1">{$aLottery.cnname}</div>
        <div class="top-bar-two-item top-bar-two-item-3">{$issueset.starttime}</div>
        <div class="top-bar-two-item top-bar-two-item-3">{$issueset.firstendtime}</div>
        <div class="top-bar-two-item top-bar-two-item-3">{$issueset.endtime}</div>
        <div class="top-bar-two-item top-bar-two-item-3">{$issueset.cycle}</div>
        <div class="top-bar-two-item top-bar-two-item-2">{$issueset.inputcodetime}</div>
        <div class="top-bar-two-item top-bar-two-item-1 no-right-border">{if $issueset.status == 1}有效{else}<font color="Red">无效</font>{/if}</div>
        {foreachelse}
        <div class="top-bar-two-item top-bar-two-item-2">没有相关记录,请先添加信息。</div>
        {/foreach}
        <div class="no-float"></div>
    </div>

</div>
</body>
</html>
