{include file="pageheader.html"}

<body class="gray-bg">
<!--<div class="ibox-content">-->
    <!--<form role="form" class="form-inline" id="subbox">-->
        <!--<div class="form-group">-->
            <!--<label for="exampleInputPassword2" class="sr-only">开始时间</label>-->
            <!--开始时间:<input name="startDate" class="form-contlayerayer-date" value="{$sTime}" placeholder="YYYY-MM-DD" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="exampleInputPassword2" class="sr-only">结束时间</label>-->
            <!--结束时间:<input name="endDate" class="form-contlayerayer-date" value="{$eTime}" placeholder="YYYY-MM-DD" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})">-->
        <!--</div>-->
        <!--<button class = "btn btn-outline btn-primary" type = "submit">查询</button>-->
    <!--</form>-->
<!--</div>-->
<button class="btn  btn-primary" onclick="history.go(-1);" style="margin-left:20px;margin-top:10px;">&lt;&lt;返回上一页</button>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div>
                    <div class="jqGrid_wrapper bgcol-white">
                        <table id="table_list_2"></table><!--初始化表格必须-->
                        <div id="pager_list_2"></div><!--分页展示必须-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var mydata = {if empty($outputData)}{}{else}{$outputData}{/if};
    $(document).ready(function(){
        $.jgrid.defaults.styleUI="Bootstrap";
        $("#table_list_2").jqGrid({
            //表格头
            colNames:["游戏","玩法","总投注人数","总投注金额","总返点","实际投注金额","中奖金额"],
            //表格内容
            colModel:[
                {name:"cnname",index:"cnname",sortable:false,align:"center",sorttype:"string"},
                {name:"methodname",index:"methodname",sortable:false,align:"center",sorttype:"string"},
                {name:"count_uid",index:"usercount",sortable:false,align:"center",sorttype:"int"},
                {name:"sell",index:"sell",sortable:false,align:"right",sorttype:"float"},
                // {name:"selfpoints",index:"selfpoints",sortable:false,align:"right",sorttype:"float"},
                // {name:"parentspoints",index:"parentspoints",sortable:false,align:"right",sorttype:"float"},
                {name:"totalpoints",index:"totalpoints",sortable:false,align:"right",sorttype:"float"},
                {name:"real",index:"realsell",sortable:false,align:"right",sorttype:"float"},
                {name:"bonus",index:"bonus",sortable:false,align:"right",sorttype:"float"}
            ],
            data:mydata,
            height:"auto", //默认高度
            mtype: "post", //提交方式
            datatype: "local",   //数据类型
            page: 1,            //当前页码
            autowidth:true,    //表格自适应宽度
            shrinkToFit:true,   //自适应列宽
            rowNum:50,       //每页展示的记录数
            pager:"#pager_list_2",viewrecords:true,
            beforeRequest: function() {
                var postData = {};
                $.each($("#subbox").serializeArray(), function(i, n){
                    postData[n.name] = n.value;
                });
                $(this).jqGrid("setGridParam", {
                    postData: postData
                });
            }
        });
        $("#table_list_2").setSelection(4,true);
        //窗口自适应
        $(window).bind("resize",function(){
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_1").setGridWidth(width);
            $("#table_list_2").setGridWidth(width);
        });
        //表单提交
        $("#subbox").submit(function(){
            $("#table_list_2").jqGrid("setGridParam", {
                page: 1
            }).trigger('reloadGrid');

            return false;
        });


    });

</script>
</body>


</html>
