{include file="pageheader.html"}
<body class="">
        <div class="row">
            <div class="col-sm-6" style="width: 100%">
                        <form class="form-horizontal m-t" method="POST" action="user_addlayer.shtml"  id="signupForm">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">账号分组：</label>
                                <div class="col-sm-8">
                                    <select class="form-control"  name="groupid"> 
                                        {$proxygroup}
                                   </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">账号名称：</label>
                                <div class="col-sm-8">
                                    <input  name="adminname" class="form-control" type="text" disabled="true" value="{$proxyuser.adminname}" aria-required="true" aria-invalid="false" class="valid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">账号昵称：</label>
                                <div class="col-sm-8">
                                    <input  name="adminnick" value="{$proxyuser.adminnick}" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">账号语言：</label>
                                <div class="col-sm-8">
                                    <select class="form-control"  name="adminlang"> 
                                        <option value="utf8_zhcn" checked="true">简体中文 </option>
                                        <option value="utf8_enus">English(美国)</option>
                                   </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">账号密码：</label>
                                <div class="col-sm-8">
                                    <input  name="adminpass" value="" class="form-control" type="password" aria-required="true" aria-invalid="true" class="error">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">确认密码：</label>
                                <div class="col-sm-8">
                                    <input  name="adminpass2" value="" class="form-control" type="password" aria-required="true" aria-invalid="true" class="error">
                                </div>
                            </div>
                           
                            <div class="form-group">
								<label class="col-sm-2"></label>
                                <div class="col-sm-8">
                                    <button class="btn btn-primary" id="formsubmit" type="submit">保存账号</button>
                                </div>
                            </div>

                        </form>
            </div>
        </div>
    </div>

    <script src="js/plugins/validate/jquery.validate.min.js"></script>
    <script src="js/plugins/validate/messages_zh.min.js"></script>
    <script src="js/user_validate/form-validate-userlayer.min.js"></script>
<script type="text/javascript">
    $().ready(function() {
        $("#formsubmit").click(function(){
            var postData = {};
            $.each($("#signupForm").serializeArray(), function(i, n){
                postData[n.name] = n.value;
            });
             $.ajax({
                type: "POST",
                url:"",
                data:postData, 
                success: function(data) {
                    var data = eval("("+data+")")
                    if(data.code == 0){
                        layer.alert(data.msg);
                    }else{
                        layer.alert(data.msg,function(){
                            parent.location.reload();
                        });
                    }
                }
            });
             return false;
        });
       
    })

</script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/form_validate.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:16 GMT -->
</html>
