{include file="pageheader.html"}
<body class="gray-bg">
<div class="ibox-content border-bottom">
    <form role="form" class="form-inline" id="subbox">
        <input type="hidden" name="userid" value="{$userid}">
        <input type="hidden" name="isgetdata" value="1">
        <div class="form-group">
            <label class="sr-only">开始时间</label>
            开始时间:<input name="sTime" id="sTime" class="form-control layer-date" value="{$startDate}"
                        placeholder="YYYY-MM-DD" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})">
        </div>
        <div class="form-group">
            <label class="sr-only">结束时间</label>
            结束时间:<input name="eTime" id="eTime" class="form-control layer-date" value="{$endDate}"
                        placeholder="YYYY-MM-DD" onclick="laydate({istime: false, format: 'YYYY-MM-DD'})">
        </div>
        <button type="button" id="yesterdayDate" name="yesterdayDate" class="btn btn-outline btn-primary">昨天</button>
        <button type="button" id="currentDate" name="currentDate" class="btn btn-outline btn-primary">今天</button>
        <button type="button" id="upWeekDate" name="upWeekDate" class="btn btn-outline btn-primary">上周</button>
        <button type="button" id="weekDate" name="weekDate" class="btn btn-outline btn-primary">本周</button>
        <button type="button" id="lastMonthDate" name="lastMonthDate" class="btn btn-outline btn-primary">上月</button>
        <button type="button" id="monthDate" name="monthDate" class="btn btn-outline btn-primary">本月</button>
        <div class="form-group">
            查询账号:<input type="text" placeholder="请输入用户名" name="username" id="username" class="form-control"
                        value="{$username|escape:html}">
        </div>
        <button class="btn btn-primary" type="submit" id="searchBtn">查询</button>
    </form>
    <br>
    <div class="form-group">
        <span style="color: red">游戏总盈亏 = 投注总额 - 返点总额 - 中奖总额</span>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" id="profit">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div>
                    <div class="jqGrid_wrapper bgcol-white">
                        <table id="table_list_2"></table><!--初始化表格必须-->
                        <div id="pager_list_2"></div><!--分页展示必须-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/dataken.js"></script>
<script>
    $(document).ready(function () {
        $.jgrid.defaults.styleUI = "Bootstrap";
        $("#table_list_2").jqGrid({
            //表格头
            colNames: ["用户名", "返点等级", "所属组", "充值总额", "优惠总额", "提现总额", "投注总额", "已结算投注总额", "返点总额", "中奖总额", "游戏总盈亏", "操作"],
            //表格内容
            colModel: [
                {
                    name: "username",
                    index: "username",
                    align: "center",
                    formatter: searchUserName,
                    search: true,
                    sortable:false
                },
                {name: "maxpoint", index: "maxpoint", align: "center", sortable: false, search: false},
                {name: "groupname", index: "groupname", align: "center", sortable: false},
                // {name: "parentName", index: "parentName", align: "center", sortable: false},
                {name: "payment", index: "payment", align: "right", sorttype: "int",  },
                {name: "activity", index: "activity", align: "right", sorttype: "int",},
                {name: "withdraw", index: "withdraw", align: "right", sorttype: "float", },
                {name: "bets", index: "bets", align: "right", sorttype: "float", formatter: fourPoint},
                {name: "realbets", index: "realbets", align: "right", sorttype: "float", formatter: fourPoint},
                {name: "points", index: "points", align: "right", sorttype: "float", formatter: fourPoint},
                {name: "bonus", index: "bonus", align: "right", sorttype: "float", formatter: fourPoint},
                {name: "profit", index: "profit", align: "right", sorttype: "float", formatter: fourPoint},
                {name: "operation", index: "operation", align: 'center', formatter: showlink, sortable:false}
            ],
            //data:mydata,
            height: "auto", //默认高度
            mtype: "post", //提交方式
            datatype: "local",   //数据类型
            page: 1,            //当前页码
            autowidth: true,    //表格自适应宽度
            shrinkToFit: true,   //自适应列宽
            rowNum: 1000,       //每页展示的记录数
            rowList: [1000, 2000, 3000, 5000, 10000], //每页展示的记录数
            footerrow: true, // 分页上添加一行，用于显示统计信息
            pager: "#pager_list_2", viewrecords: true,
            loadonce : true,
            beforeRequest:function () {
                var postData = {};
                $.each($("#subbox").serializeArray(), function (i, n) {
                    postData[n.name] = n.value;
                });
                $("#table_list_2").jqGrid("setGridParam", {
                    postData: postData,
                    loadComplete: function (data) {
                        if(data.length == 0){
                            $(".ui-jqgrid-sdiv").hide();
                            layer.confirm("查询不到数据");
                            return false;
                        }
                        $(".ui-jqgrid-sdiv").show();
                        var $this = $(this),
                            titleField = 'username', //头对应字段位置
                            valuePayment = 'payment', //统计字段位置
                            valueActivity = 'activity', //统计字段位置
                            valueWithdraw = 'withdraw', //统计字段位置
                            valueBets = 'bets', //统计字段位置
                            valueRealBets = 'realbets', //统计字段位置
                            valuePoints = 'points', //统计字段位置
                            valueBonus = 'bonus', //统计字段位置
                            valueProfit = 'profit', //统计字段位置
                            footerData = {},
                            sumOfValueProfit = $this.jqGrid("getCol", valueProfit, false, "sum"), //小计
                            sumOfValuePayment = $this.jqGrid("getCol", valuePayment, false, "sum"), //小计
                            sumOfValueActivity = $this.jqGrid("getCol", valueActivity, false, "sum"), //小计
                            sumOfValueWithdraw = $this.jqGrid("getCol", valueWithdraw, false, "sum"), //小计
                            sumOfValueBets = $this.jqGrid("getCol", valueBets, false, "sum"), //小计
                            sumOfValueRealBets = $this.jqGrid("getCol", valueRealBets, false, "sum"), //小计
                            sumOfValuePoints = $this.jqGrid("getCol", valuePoints, false, "sum"), //小计
                            sumOfValueBonus = $this.jqGrid("getCol", valueBonus, false, "sum"), //小计
                            $footerRow = $(this.grid.sDiv).find("tr.footrow"),

                            totalPayment = data.userdata.total_payment.toFixed(2),//总计
                            totalActivity = data.userdata.total_activity.toFixed(2),//总计
                            totalWithdraw = data.userdata.total_withdraw.toFixed(2),//总计
                            totalBets = data.userdata.total_bets.toFixed(4),//总计
                            totalRealBets = data.userdata.total_realbets.toFixed(4),//总计
                            totalPoints = data.userdata.total_points.toFixed(4),//总计
                            totalBonus = data.userdata.total_bonus.toFixed(4),//总计
                            totalProfit = data.userdata.total_profit.toFixed(4),//总计
                            $newFooterRow;
                        $newFooterRow = $(this.grid.sDiv).find("tr.myfootrow");
                        if ($newFooterRow.length === 0) {
                            // add second row of the footer if it's not exist
                            $newFooterRow = $footerRow.clone();
                            $newFooterRow.removeClass("footrow")
                                .addClass("myfootrow ui-widget-content");
                            $newFooterRow.children("td").each(function () {
                                this.style.width = ""; // remove width from inline CSS
                            });
                            $newFooterRow.insertAfter($footerRow);
                        }
                        footerData[titleField] = "小计:";
                        footerData[valuePayment] = sumOfValuePayment.toFixed(2);
                        footerData[valueActivity] = sumOfValueActivity.toFixed(2);
                        footerData[valueWithdraw] = sumOfValueWithdraw.toFixed(2);
                        footerData[valueBets] = sumOfValueBets.toFixed(4);
                        footerData[valueRealBets] = sumOfValueRealBets.toFixed(4);
                        footerData[valueBonus] = sumOfValueBonus.toFixed(4);
                        footerData[valuePoints] = sumOfValuePoints.toFixed(4);
                        footerData[valueProfit] = sumOfValueProfit.toFixed(4);
                        $this.jqGrid("footerData", "set", footerData); //生成总计行
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + titleField + "]").text("总计:");
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valuePayment + "]").text(totalPayment).css({paddingRight: '2px'});
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valueActivity + "]").text(totalActivity).css({paddingRight: '2px'});
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valueWithdraw + "]").text(totalWithdraw).css({paddingRight: '2px'});
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valueBets + "]").text(totalBets).css({paddingRight: '2px'});
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valueRealBets + "]").text(totalRealBets).css({paddingRight: '2px'});
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valuePoints + "]").text(totalPoints).css({paddingRight: '2px'});
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valueBonus + "]").text(totalBonus).css({paddingRight: '2px'});
                        $newFooterRow.find(">td[aria-describedby=" + this.id + "_" + valueProfit + "]").text(totalProfit).css({paddingRight: '2px'});

                        $('td[aria-describedby=table_list_2_profit]').each(function(i, n){
                            if($(n).html() < 0) {
                                $(n).css("color", "#CE0000");
                            }else if($(n).html() == 0){
                                $(n).css("color", "black");
                            } else {
                                $(n).css("color", "green");
                            }
                        });
                    }
                });
            }
        });
        $("#table_list_2").setSelection(4, true);
        //窗口自适应
        $(window).bind("resize", function () {
            var width = $(".jqGrid_wrapper").width();
            $("#table_list_1").setGridWidth(width);
            $("#table_list_2").setGridWidth(width);
        });
        //查询按钮事件
        $("#searchBtn").off().on("click", function () {
            $("#table_list_2").jqGrid("setGridParam", {
                url: "preport_profit.shtml",
                page: 1,
                datatype: 'json'
            }).trigger('reloadGrid');
            return false;
        });
        //昨天按钮事件
        $("#yesterdayDate").off().on("click", function () {
            $("#sTime").val(getYesterdayDate);
            $("#eTime").val(getCurrentDate);
        });
        //今天按钮事件
        $("#currentDate").off().on("click", function () {
            $("#sTime").val(getCurrentDate);
            $("#eTime").val("{$endDate}");
        });
        //上周按钮事件
        $("#upWeekDate").off().on("click", function () {
            $("#sTime").val(getUpWeekStartDate);
            $("#eTime").val(getUpWeekEndDate);
        });
        //本周按钮事件
        $("#weekDate").off().on("click", function () {
            $("#sTime").val(getWeekStartDate);
            $("#eTime").val(getWeekEndDate);
        });
        //上月按钮事件
        $("#lastMonthDate").off().on("click", function () {
            $("#sTime").val(getLastMonthStartDate);
            $("#eTime").val(getLastMonthEndDate);
        });
        //本月按钮事件
        $("#monthDate").off().on("click", function () {
            $("#sTime").val(getMonthStartDate);
            $("#eTime").val(getMonthEndDate);
        });
    });
    var queue = new Array();
    //自定义操作表格
    function showlink(cellValue, options, rowObject) {
        var html = "";
        html += "<a title='分类报表' href='preport_usercategory.shtml?username=" + rowObject.username + "&tStartTime="+$('#sTime').val()+"&tEndTime="+$('#eTime').val()+"' >";
        html += "<span style='color:#CE0000'>分类报表</span></a>";
        return html;
    }
    function searchUserName(cellValue, options, rowObject) {
        var html = "";
        html += "<a title='" + rowObject.username + "' onclick='clickByName(this)' >";
        html += "<span style='color:#CE0000'>" + rowObject.username + "</span></a>";
        return html;
    }
    function clickByName(name) {
        var name = name.text;

        if (name == "小计:"){
            return false;
        }else if (name == $('#username').val()){
            queue.pop();
            name = queue.pop();
            if (!name) {
                name = '';
            }
            document.getElementById('username').value = name;
            document.getElementById('searchBtn').click();
            queue.push(name);
        }else {
            document.getElementById('username').value = name;
            document.getElementById('searchBtn').click();
            queue.push(name);
        }
    }
    function message(msg) {
        $(document).note("add", {
            type: "error",
            message: msg
        });
    }
    //保留4位小数点
    function fourPoint(cellValue, options, rowObject){
        var iNumber = new Number(cellValue);
        return iNumber.toFixed(4);
    }
</script>
</body>


</html>
