{include file="pageheader.html"}
<style>
    @media (min-width: 768px) {
        .form-horizontal .control-label {
            padding-top: 0px;
        }
    }
</style>
<body class="white-bg">
    <!--分层-->
    <div id ="layer"  class="modal-body">
      <div class="row">
        <form class="form-horizontal m-t" method="POST" action="" onsubmit="return false;" id="signupForm">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">会员名称:</label>
                    <div class="col-sm-8 ">
                       <input type="hidden"  value="{$userid}" name="userid" > 
                       <input type="input"  value="{$user.username}" disabled="true" > 
                       </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">冻结范围:</label>
                        <div class="col-sm-8">
                          <input type="radio"  value="1" name="free" checked="checked"> 仅冻结此用户不冻结其下级<br>
                          <input type="radio"  value="2" name="free" > 冻结此用户和所有下级 
                        </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">冻结方式:</label>
                        <div class="col-sm-8">
                          <input type="radio"  value="1" name="freetype" checked="checked" > 完全冻结</br>
                          <input type="radio"  value="2" name="freetype" > 可登录，查看帮助中心，不可投注，不可充提</br>
                          <input type="radio"  value="3" name="freetype" > 不可投注，可充提，查看用户列表和报表、帮助中心 </br>
                        </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">在线客服:</label>
                        <div class="col-sm-8">
                          <input type="checkbox"  value="1" name="isallowcs" > 允许访问在线客服<br>
                        </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">冻结原因:</label>
                    <div class="col-sm-8 ">
                       <input type="input" name="reason" value=""  > 
                       </div>
                </div>
                <div class="form-group">
                     <div class="col-sm-8 col-sm-offset-3">
                        <button class="btn btn-primary" id="formsubmit" type="submit">提交</button>&nbsp;&nbsp;
                     </div>
                </div>
          </form>
        </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
      //分层表单提交
            $("#formsubmit").click(function(){
                var postData = {};
                $.each($("#signupForm").serializeArray(), function(i, n){
                    postData[n.name] = n.value;
                });
                 $.ajax({
                    url:"user_freeze.shtml",
                    type: "POST",
                    data:postData, 
                    success: function(data) {
                        var data = eval("("+data+")")
                        if(data.code == 0){
                            layer.alert(data.msg);
                        }else{
                            layer.alert(data.msg,function(){
                                parent.location.reload();
                            });
                        }
                    }
                });
                 return false;
            });
            //隐藏分层div
            $(".cancel").click(function(){
              layer.alert();
                layer.closeAll();
            })
      });
    </script>
    </body>
    </html>

